@import "variables";

@media(min-width: 1400px) {
	.container {
		min-height: 60vh;
	}
	.index-section{
		width: 70% !important;
		margin-left: 15% !important;
	}
}

@media (max-width: 1070px) and (min-width: 992px) {
	.landing-circle3{
		right: 30%;
		top: 75vh;
	}
}

@media (max-width: 992px) {
	.landing-circle3{
		right: 30%;
		top: 75vh;
	}
	.layout-content{
		margin-left: 0px;
	}
	.ant-layout-sider-zero-width-trigger{
		display: none;
	}
	.header-page-title{
		margin-left: 35px;
		display: flex;
		align-items: center;
		font-size: 18px !important;
	}
	.help-form{
		width: 95%;
		margin: auto;
	}
	.show-tablet{
		display: block;
	}

	.perdido-cartel-qr{
		display: none;
	}
	.perdido-cartel{
		padding: 10px 0px;
	}
	.perdido-cartel-footer{
		width: 100%;
	}
}

@media (max-width: 767px) {
	.index-section{
		width: 100%;
		height: 110vh;
	}

	.ant-page-header-heading-title{
		text-overflow: ellipsis;
	}
	.header-noLogin{
		.ant-page-header-heading-left{
			width: 55%;
		}
	}
	.cookies{
		bottom: 0px;
		left: 0px;
		width: 100%;
	}
	.show-mobile{
		display: block;
	}
	.show-desktop{
		display: none;
	}
	.complete-left-panel{
		width: 0px;
		overflow: hidden;
	}

	.sidebar{
		z-index: 1000;
	}

	.complete-page{
		display: grid;
		grid-template-columns: 0% 100%;
	}

	// Preview.js

	.preview-number-selector{
		width: 100%;
	}
	// Preview.js

	// Header.js
	.header-divider{
		display: grid;
		grid-template-columns: 70% 30%;
	}
	.header-breadcrumb-container{
		padding-left: 10px;
	}
	// Header.js

	// Home.js
	.landing-h4{
		font-size: 25px !important;
	}
	.landing-h2{
		font-size: 40px !important;
	}
	// Home.js

	// Login.js
	.overlay-container{
		display: none;
	}
	.sign-in-container {
		width: 100%;
	}
	.sign-up-container {
		width: 0%;
	}
	.right-panel-active{
		.sign-in-container {
			width: 0%;
		}
		.sign-up-container {
			width: 100%;
			-webkit-transform: translateX(0%) !important;
			transform: translateX(0%) !important;
		}
	}
	.form {
		padding: 0 10px;
	}
	// Login.js

	// index.js
	.donation-section{
		display: flex;
		flex-wrap: wrap;
		align-content: center;
	}
	// index.js

	// Footer.js
	.footer-separator{
		display: block;
	}
	// Footer.js

	// ImageSlider
	.thumbnail-container{
		height: 45vh;
		overflow: auto;
		border-radius: 5px;
	}
	// ImageSlider

	// BreadCrumb
	.breadcrumb-container{
		padding: 0px 0px 10px 30px;
	}
	// BreadCrumb
}
