
// Config Variables
//@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;800&display=swap");
$font-stack: 'Lato', sans-serif;
$max-grid: 12;
$font-h1: 30px;
$font-h2: 25px;
$font-h3: 22px;
$font-h4: 18px;
$font-h5: 16px;
$font-p: 14px;
$font-p-min: 13px;

$font-script: 13px;

$bg-1: #FFFFFF;
$bg-2: #F8F8F8;
//$bg-1: #282C34;
//$bg-2: #21252B;

$text-1: #303030;
$text-2: #000000;
$text-3: #B4B4B4;

$color-1: purple;
$color-2: purple;
